* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins"; */
}

/*------login pages-----*/
.login-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.login-page {
  background: linear-gradient(116.71deg, #1b4c80 2.09%, #5183b8 52.21%);
  width: 1263px;
  height: 595px;
  /* position: relative;
  background-image: url(/assets/banner-theme2.png);
  background-size: cover;
  background-repeat: no-repeat; */
}

/* .login-img {
  background-image: url(../assets/building.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 592px;
} */
.login-img {
  background-image: url(/assets/building.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 592px;
  position: relative;
  top: 0;
  left: 74px;
}

.form-design {
  background: #1b4c80;
  width: 410px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  top: 90px;
  left: 17%;
}

.login-page .form-label {
  color: #fff;
  line-height: 25px;
}

.login-page .form-align {
  margin-bottom: 20px;
}

.page-forget-label {
  color: #fff;
}

.login-btn {
  width: 100%;
  background-color: #5d96cf;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}

.at-login-act {
  font-size: 14px;
  color: #ffffffbd;
  font-weight: 500;
}

.sign-up-link {
  text-decoration: underline;
  padding-left: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}


/*-----Sign Up------*/

.reg-form{
  background: #1b4c80;
  width: 630px;
  height: 560px;
  padding: 15px;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  top: 25px;
  left: 14%;
}
.reg-form .form-align{
  margin-bottom: 5px;
}
.reg-form .err-align{
  color: rgb(255 16 0);
  font-size: 14px;
  margin-bottom: 5px;
}

.account-subtitle{
  margin-top: 20px;
  color: #fff;
}
.cl-login{
  text-decoration: underline;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.btn-center{
  text-align: center;
}
/*---profile section----*/


.btn-profile-align{
  display: flex;
  justify-content: space-evenly;
  padding:30px 0;
}


/*------password section-----*/

.btn-end-align{
   display: flex;
   justify-content: end;
   padding:20px 0;
}